<div id="div-lista">
    <h2>Lista Atleta</h2>

      <div id="lista-atletas">
        @for (elem of listaAtletas(); track elem.id) {
        <div class="item-atletas">
            <span class="dados-atleta">
                {{elem.id}} - {{elem.nome}} - idade: {{calcularIdade(elem.data_nascimento)}} - {{elem.cpf}} - {{elem.sexo}} - {{elem.cidade}}-{{elem.uf}}
            </span>
            <span class="links-lista">
                <a class="lnk-editar" (click)="buscarAtleta(elem)"> Editar </a>
                <a class="lnk-excluir" (click)="excluirAtleta(elem)"> Excluir </a>
            </span>
        </div>
        }@empty{
        <div class="div-item-pessoa">
            NENHUM REGISTRO NA LISTA
        </div>
        }
    </div>


</div>


<!--<main id="container">
    <div id="card">
        <h1>Corridas Disponíveis</h1>
        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Distância</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                <td>Circuito das Estações - Etapa Verão</td>
                <td>15/11/2026</td>
                <td>5km, 10km</td>
                <td><a href="#">Inscreva-se</a></td>
                <td>
                    <button>Inscreva-se</button>
                </td>
            </tbody>
        </table>
    </div>
</main>
-->