<main id="container">
    <div id="card">
        <h1>Corridas Disponíveis</h1>
        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Distância</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                <td>Circuito das Estações - Etapa Verão</td>
                <td>15/11/2026</td>
                <td>5km, 10km</td>
                <td><a href="#">Inscreva-se</a></td>
                <td>
                    <button>Inscreva-se</button>
                </td>
            </tbody>
        </table>
    </div>
</main>