#card{
    background-color: #fff;
    width: 1000px;
    min-height: 450px;
    margin: 40px auto;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(5, 73, 112, 0.20);
    border-radius: 5px;
    box-sizing: border-box; 

}

tr{
    background-color: aliceblue;
    padding: 12px;
}

td{
    background-color: aqua;
}