<div id="divForm">
    <h2>Cadastro de Corrida</h2>
    <form id="formCorrida">
        <label for="descricaoCorrida">Descrição da Corrida</label>
        <textarea name="descricaoCorrida" id="descricaoCorrida" cols="30" rows="10" placeholder="Ex: 5ª Night Race"></textarea>

        <label for="dataCorrida">Data da Corrida</label>
        <input type="date" id="dataCorrida">

        <label for="distaciaDisponiveis">Distância Disponíveis </label>
        <input type="checkbox" > 5km
        <input type="checkbox" > 10km
        <input type="checkbox" > 25km


        <div id="divBtn">
            <button type="submit">Cadastrar Corrida</button>
        </div>
    </form>
</div>