<div id="divLista">
    <h2>Lista Corrida</h2>

    <div id="listaCorrida">
        

            @for(elem of listarCorridas(); track elem.id){
                <div class="itemCorrida"> 
                    <span class="dadosCorrida">
                        <span class="dadosCorrida" >
                            {{elem.descricaoCorrida}} - {{elem.dataCorrida}} - Distâncias: {{elem.distancia5km ? '5km':''}} 
                            {{elem.distancia10km ? ' 10km':''}}
                            {{elem.distancia25km ? ' 25KM' :''}}
                        </span>
                        <span class="linksLista">
                            <a class="linkEditar">Editar</a>
                            <a class="linkExcluir">Excluir</a>
                        </span>
                    </span>
                </div>
            }@empty{
                <div class="divItemCorrida">
                    NENHUM REGISTRO NA LISTA
                </div>
            }

        
    </div>
</div>