<header id="cabecalho">
    <div id="logo">
        Git Race
    </div>
    <nav id="menu">
        <ul id="menuUl">
            <li><a routerLink="/home" class="lnkMenu">Home</a></li>
            <li><a routerLink="/cadastroAtleta" class="lnkMenu">Cadastrar Atleta</a></li>
            <li><a routerLink="/cadastroCorrida" class="lnkMenu">Cadastrar Corrida</a></li>
            <li><a routerLink="/listarCorrida" class="lnkMenu">Listar Corrida</a></li>
            <li><a routerLink="#" class="lnkMenu">Inscrição</a></li>

        </ul>
    </nav>
</header>