#cabecalho, #logo,#menuUl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo,#menuUl{
   justify-content: center;
}

#cabecalho{
    background-color: #054970;
    width: 1000px;
    height: 150px;
    margin: 20px auto;
    padding: 15px;
    justify-content: space-between;
    border-radius: 5px;
}

#logo{
    font-family: "Anton", sans-serif;
    font-size: medium;
    width: 200px;
    height: 150px;
    color: aliceblue;
    font-family: 'Boris Black Bloxx', sans-serif;   
}

#menuUl{
    width: 790px;
    height: 150px;
    list-style: none;
    justify-content: right;

}

.lnkMenu{
    text-decoration: none;
    padding: 0px 10px;
    font-size: 15px;
    transition:  0.5 ease;
    color: aliceblue;
    font-family: 'Boris Black Bloxx', sans-serif;
}

.lnkMenu:hover{
    opacity: 0.5;
}

#titulo-logo{
    text-transform: uppercase;
    color: azure;
    border: 1px solid grey;
    padding: 5px;
    margin: 0px 4px;
    letter-spacing: 5px;
}