<div id="divForm">
    <H2>PAGAMENTO</H2>
    <form id="formPagamento">
        <div class="formRow">
            <div class="formGroup">
                <label for="nomePagamento">Nome</label>
                <input type="text" name="nomePagamento" id="nomePagamento">
            </div>
            <div class="formGroup">
                <label for="cpf">CPF</label>
                <input type="text" name="cpfPagamento" id="cpfPagamento">
            </div>
        </div>

        <div class="formRow">
            <div class="formGroup">
                <label for="email">E-mail</label>
                <input type="email" name="emailPagamento" id="emailPagamento">
            </div>
            <div class="formGroup">
                <label for="telefonePagamento">Telefone</label>
                <input type="tel" name="telefonePagamento" id="telefonePagamento"> 
            </div>
        </div>
    </form>
</div>