<div id="div-lista">
      <div id="listaAtletas">
        <h2>Lista Atleta</h2>
        @for (elem of listaAtletas(); track elem.id) {
        <div class="itemAtletas">
            <span class="dadosForm">
                <span class="dadosAtleta">
                    {{elem.id}} | Nome: {{elem.nome}} | idade: {{calcularIdade(elem.data_nascimento)}} | CPF: {{elem.cpf}} | Sexo: {{elem.sexo}} | Cidade: {{elem.cidade}}-{{elem.uf}}
                </span>
                <span class="linksLista">
                    <a class="linkEditar" (click)="buscarAtleta(elem)"> Editar </a>
                    <a class="linkExcluir" (click)="excluirAtleta(elem)"> Excluir </a>
                </span>
            </span>
        </div>
        }@empty{
        <div class="divSemRegistro">
            NENHUM REGISTRO NA LISTA
        </div>
        }
    </div>


</div>


<!--<main id="container">
    <div id="card">
        <h1>Corridas Disponíveis</h1>
        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Distância</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                <td>Circuito das Estações - Etapa Verão</td>
                <td>15/11/2026</td>
                <td>5km, 10km</td>
                <td><a href="#">Inscreva-se</a></td>
                <td>
                    <button>Inscreva-se</button>
                </td>
            </tbody>
        </table>
    </div>
</main>
-->